<body>
    <div class="container1">
        <div class="tag">
            <h1 class="mt-4">Here Is My Top Skills</h1>
        </div>
        <div class="container">

            <div class="skillsgr mt-2 mb-3">
                <div class="html">
                    <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/html.png" alt=""></div>
                    <div class="text text-center"><strong>HTML</strong></div>
                </div>
                <div class="html">
                    <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/css.png" alt=""></div>
                    <div class="text text-center"><strong>CSS</strong></div>
                </div>
                <div class="html">
                    <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/javascript.png" alt=""></div>
                    <div class="text text-center"><strong>JavaScript</strong></div>
                </div>
                <div class="html">
                    <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/angular.png" alt=""></div>
                    <div class="text text-center"><strong>Angular</strong></div>
                </div>
            </div>

            <div class="skillsgr my-3">
                <div class="html">
                    <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/git.png" alt=""></div>
                    <div class="text text-center"><strong>Git</strong></div>
                </div>
                <div class="html">
                    <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/github.png" alt=""></div>
                    <div class="text text-center"><strong>Github</strong></div>
                </div>
            
            <div class="html">
                <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/api.png" alt=""></div>
                <div class="text text-center"><strong>API Integration</strong></div>
            </div>
            <div class="html">
                <div class="img rounded shadow-lg mx-5 my-3"><img src="assets/c.png" alt=""></div>
                <div class="text text-center"><strong>C Language</strong></div>
            </div>
        </div>
        </div>
    </div>
</body>