@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

.container1{
    background-color: rgb(208 245 226 / 50%);
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center ;
}

.tag h1{
    font-family: 'Quicksand', sans-serif;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillsgr{
    display: flex;
    flex-direction: row;
}

.img img{
    height: 135px;
    
}