<body>
    <div class="container1">
        <div class="tag">
            <h1>Here Is My Top Skills</h1>
        </div>
        <div class="skills">
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>HTML</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>CSS</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>JavaScript</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>Angular</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>Git</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>Github</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>API</strong></div>
            </div>
            <div class="html">
                <div class="img"><img src="" alt=""></div>
                <div class="text"><strong>C Language</strong></div>
            </div>
        </div>
    </div>
</body>
