<body>

    <div class="detail">

        <div class="intro">
            <div class="hello"> Hi,</div>
            <div class="name">I'm  Gourab </div>
            <div class="profession">Web Developer, Digital Creator</div>
            <div class="button">
               <a href="/contact"><button class="btn btn-primary my-10 shadow-lg mb-5 rounded"> Hire Me</button></a> 
            </div>
        </div>

        <div class="photo">
            <div class="devPic"> <img src="assets/gourab.png" alt="Gourab"></div>
        </div>
        
        
    </div>
</body>