<body>
<div class="container1">
    <div class="aboutImg">
        <img src="assets/intro-clean.png" alt="intro">
    </div>

    <div class="intro">
        <div class="tag">
            <h1>Let me introduce myself</h1>
        </div>
        <div class="detail">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis officia rem ducimus voluptate, aut ut dolorem esse aliquid consectetur minima debitis ex quod! Fugiat quis eum reiciendis adipisci mollitia. Voluptate?</p>
        </div>
    </div>
</div>
</body>